extends layout 

block content 
	h1= title 

	h2= designer.name

	if designer_boardgames.length
		p This designer is attributed to the following Boardgames:
		ul
			each boardgame in designer_boardgames 
				li= boardgame.title
		
		p Deleting them will remove them from the designers field of all games listed above
	
	else
		p This designer is not attributed to any boardgames.
	
	hr
	p Are you sure you want to delete this designer?

	form(method='POST' action='')
		div.form-group
			input#designerid.form-control(type='hidden',name='designerid', required='true', value=designer._id )

		button.btn.btn-primary(type='submit') Delete

	form(method='GET' action=designer.url)
		button.btn.btn-primary(type='submit') Cancel